<ion-header>
  <ion-navbar color="dark">
    <ion-title>{{selectPoint}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div id="map_canvas" #map_canvas>

    <ion-fab right bottom *ngIf="!elegirDestino && estado !== 'HaciaOrigen'">
      <button ion-fab color="light" (click)="onFindLocation()" *ngIf="!elegirDestino"><ion-icon name="locate"></ion-icon></button>
    </ion-fab>

    <ion-fab left bottom *ngIf="!elegirDestino && !destinoElegido && located && estado !== 'HaciaOrigen'">
      <button ion-fab (click)="setUbicacion()"><ion-icon name="checkmark-circle"></ion-icon></button>
    </ion-fab>

  </div>
</ion-content>

<ion-footer *ngIf="elegirDestino && estado !== 'HaciaOrigen'">

  <ion-toolbar *ngIf="!destinoElegido">
    <input type="text" placeholder="Dirección destino" ion-input #address class="text-input text-input-md" >
    <ion-buttons end>
      <button ion-button icon-end color="royal" (click)="onEstablishAddress($event)">
        Buscar
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>

  <ion-toolbar *ngIf="destinoElegido">
    <button ion-button block (click)="setUbicacion()">PEDIR CARRO AHORA</button>
  </ion-toolbar>

</ion-footer>