<ion-header>

   <ion-navbar color="dark">
    <ion-title>Carros / Choferes Disponibles</ion-title>

    <ion-buttons end>
      <!--<button ion-button icon-only (click)="addItem()">
        <ion-icon name="add"></ion-icon>
      </button>-->
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content>

  <ion-list>
    <ion-item-sliding *ngFor="let item of currentItems">
      <button ion-item (click)="openItem(item)">
        <ion-avatar item-start>
          <img [src]="item.profilePic" />
        </ion-avatar>
        <h2>{{item.name}}</h2>
        <p>{{item.about}}</p>
        <ion-note item-end *ngIf="item.note">{{item.note}}</ion-note>
        
        <h2>Atos 2017 Verde</h2>
        <ion-thumbnail item-end>
          <img src="../../assets/imgs/bg-car2.jpg">
        </ion-thumbnail>
      </button>

      <ion-item-options>
        <button ion-button [style.BackgroundColor]="'pink'" (click)="likeItem(item)">
          FAVORITO
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>